@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400&display=swap');
.navbar {
    height: 60px;
    background-color: #00B0FF;
    box-shadow: 0px 0.1px 6px rgba(0, 0, 0, 0.22);
}
a.navbar-item {
    color: white;
    padding: 0 1px;
    margin: 0 15px;
}
a.navbar-item:hover {
    background-color: #00B0FF;
    color: white;
}
/* Navber Link Hover Animation */
 a.navbar-item:before, a.navbar-item:after {
	 content: '';
	 position: absolute;
	 bottom: 10px;
	 left: 0;
	 right: 0;
	 height: 1px;
	 background-color: white;
}
a.navbar-item:before {
	 opacity: 0;
	 transform: translateY(-3px);
	 transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a.navbar-item:after {
	 opacity: 0;
	 transform: translateY(3px);
	 transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a.navbar-item:hover:before, a.navbar-item:focus:before, a.navbar-item:hover:after, a.navbar-item:focus:after {
	 opacity: 1;
	 transform: translateY(0);
}
/* Animation End */

.hero-image {
   padding-top: 100px;
}

.hero-text {  
    padding: 150px 20px;
 }

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #00B0FF;
}

h4, li {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 24px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background: #00B0FF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    transition: ease-in-out 200ms;
    margin-top: 30px;
    height: 50px;
}

.button:hover {
    background: white;
    color: #00B0FF;
}

blockquote {
    font-family: Vidaloka;
    font-size: 36px;
    text-align: center;
    border-left: 3px solid rgba(0, 0, 0, 0.48);
    padding: 63px 4px;
    padding-left: 0;
    height: 180px;
    width: 1200px;
    margin: auto
}

.author {
    text-align: right;
    font-size: 18px;
    padding-right: 100px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    padding: 20px;
}

.card {
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin: 0px 40px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 45px;
    margin-top: 20px;
}

.blog-image {
    margin: 200px 50px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: #00B0FF;
    text-align: center;
    padding: 15px 0;
}

.card-content {
    border: 0.5px solid #00B0FF;
    text-align: center;
}