@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    background-color: #00B0FF;
    box-shadow: 0px 0.1px 6px rgba(0, 0, 0, 0.22);
}
a.navbar-item, .navbar-link {
    color: white;
    padding: 0 1px;
    margin: 0 15px;
}
a.navbar-item:hover {
    background-color: #00B0FF;
    color: white;
}

.navbar-dropdown .navbar-item {
    color: #00B0FF;
}

/* Navber Link Hover Animation */
 a.navbar-item:before, a.navbar-item:after {
	 content: '';
	 position: absolute;
	 bottom: 10px;
	 left: 0;
	 right: 0;
	 height: 1px;
	 background-color: white;
}
a.navbar-item:before {
	 opacity: 0;
	 transform: translateY(-3px);
	 transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a.navbar-item:after {
	 opacity: 0;
	 transform: translateY(3px);
	 transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a.navbar-item:hover:before, a.navbar-item:focus:before, a.navbar-item:hover:after, a.navbar-item:focus:after {
	 opacity: 1;
	 transform: translateY(0);
}
/* Animation End */

.hero-contact {
    background-image: url();
    background: rgba(0, 28, 70, 0.67);
}
.hero-image {
   padding-top: 100px;
}

.hero-text {  
    padding: 100px 20px;
 }

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    padding-top: 50px;
    color: #00B0FF;
}

h4, li {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 24px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background: #00B0FF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    transition: ease-in-out 200ms;
    margin-top: 30px;
    height: 50px;
}

.button:hover {
    background: white;
    color: #00B0FF;
    background-position: right center;
}

blockquote {
    font-family: Vidaloka;
    font-size: 36px;
    text-align: center;
    border-left: 3px solid rgba(0, 0, 0, 0.48);
    padding: 63px 4px;
    padding-left: 0;
    height: 180px;
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
}

.author {
    text-align: right;
    font-size: 18px;
    padding-right: 100px;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
}

.card, .card-contact {
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7); */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 70px;
}

.card-contact {
    /* border: 0.5px solid #00B0FF; */
    text-align: center;
    padding: 40px;
    width: 800px;
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.column .card {
    margin-left: 100px;
    margin-right: 100px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 45px;
    margin-top: 20px;
}

.blog-image {
    margin: 100px 50px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: #00B0FF;
    text-align: center;
    padding: 15px 0;
}

.card-content {
    border: 0.5px solid #00B0FF;
    text-align: center;
}